@page "/"
@using SyncFrameworkApp.Controls
@using SyncFrameworkApp.Controls.Data
<PageTitle>Index</PageTitle>

<h1>DataGrid InLine Editing</h1>

<p>This page demonstrates how to configure the Razden Blazor DataGrid for inline editing</p>

<SfaDataTable Users="User" />


@code {
    public List<User> User { get; set; } = new();

    protected override void OnInitialized()
    {
        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()}
            }
            });

        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() }
            }
            });

        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() }
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() }
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() }
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() }
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068", Id= Guid.NewGuid() },
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()}
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()}
            }
            });


        User.Add(new User
            {
                Id = Guid.NewGuid(),
                Name = "Steven",
                LastName = "Checo",
                Email = "steven.checo.19@gmail.com",
                BirthDay = DateTime.Now,
                RegisterDate = DateTime.UtcNow,
                Contacts = new List<SyncFrameworkApp.Controls.Data.UserContact> {
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()},
                new UserContact {Address = "1810 wallace ave", Phones = "8096953068" , Id= Guid.NewGuid()}
            }
            });

    }
}