@page "/"
@using SyncFrameworkApp.Controls
@using SyncFrameworkApp.Controls.Data
<PageTitle>Index</PageTitle>

<h1>DataGrid InLine Editing</h1>

<p>This page demonstrates how to configure the Razden Blazor DataGrid for inline editing</p>

<SfaDataTable Users="User" />


@code {
   
}